# EditorConfig configuration
# See: https://editorconfig.org

root = true

[*]
indent_style             = space
indent_size              = 2
end_of_line              = lf
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true
max_line_length          = 80

[*.rs]
indent_size = 4
max_line_length = 100

[/src/rust/dist/*.{ts,js}]
# Since git is tracking the generated type definitions file, we don't
# want to accidentally modify it on save.
trim_trailing_whitespace = false
