<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="theme-color" content="#e64a19">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preload" crossorigin as="font" href="code-latin.woff2">
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="icon" href="favicon.ico" sizes="32x32">
    <link rel="icon" href="icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="canonical" href="{{ liveBaseUrl }}">

    <meta name="application-name" content="OXVGUI">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="twitter:card" content="summary">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ liveBaseUrl }}">
    <meta property="og:site_name" content="{{ author }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ liveBaseUrl }}opengraph.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="OXVGUI Open Graph Image">

    <script>
      window.oxvguiVersion = '{{OXVGUI_VERSION}}';
    </script>
    <script src="js/page.js" defer></script>
    <style>{{headCSS|safe}}</style>
    <link rel="preload" as="style" href="all.css" onload="rel='stylesheet'">
  </head>
  <body>
    <div class="app-output">
      <div class="main-menu">
        <div class="overlay"></div>
        <nav class="menu">
          <div class="app-title">
            {% include "_partials/icons/logo.svg" %}
            <div class="title-text">
              <div>
                <h1>OXVGUI</h1>
                <small title="Version {{OXVGUI_VERSION}}">
                  &nbsp;v{{OXVGUI_VERSION}}
                </small>
              </div>
              <p>
                Powered by
                <a href="https://github.com/noahbald/oxvg" target="_blank">
                  OXVG
                  <small title="Version {{OXVG_VERSION}}">
                    v{{OXVG_VERSION}}
                  </small>
                </a>
              </p>
            </div>
          </div>
          <ul>
            <!-- TODO: Remove unstable warning at some point -->
            <li>
              <span class="menu-item" style="justify-content:center;color:#a00">WARNING: Unstable!</span>
            </li>
            <li>
              <button class="load-file unbutton menu-item" type="button">
                {% include "_partials/icons/open.svg" %}
                <span class="menu-item-text">Open SVG</span>
              </button>
              <input type="file" class="load-file-input" accept=".svg">
            </li>
            <li>
              <label class="menu-input menu-item">
                {% include "_partials/icons/paste.svg" %}
                <span class="input-area">
                  <textarea id="paste-input" class="paste-input" autocomplete="off" autocorrect="off" spellcheck="false"></textarea>
                  <label for="paste-input" class="label-txt">Paste markup</label>
                </span>
              </label>
            </li>
            <li>
              <button class="load-demo unbutton menu-item" type="button">
                {% include "_partials/icons/demo.svg" %}
                <span class="menu-item-text">Demo</span>
              </button>
            </li>
            <li>
              <a href="https://github.com/jonasgeiler/oxvgui" class="menu-item">
                {% include "_partials/icons/contribute.svg" %}
                <span class="menu-item-text">Contribute</span>
              </a>
            </li>
          </ul>
          <div class="menu-extra"></div>
        </nav>
      </div>
      <div class="toolbar">
        <div class="menu-toolbar-item">
          <button class="unbutton menu-btn" type="button" title="Menu">
            {% include "_partials/icons/menu.svg" %}
          </button>
        </div>
        <form class="material-tabs view-toggler">
          <label class="material-tab">
            <input type="radio" name="output" value="image" checked>
            <span class="selected"></span>
            Image
          </label>
          <label class="material-tab">
            <input type="radio" name="output" value="code">
            <span class="selected"></span>
            Markup
          </label>
        </form>
      </div>
      <div class="main">
        <div class="output">
          <div class="action-button-container">
            <div class="minor-action-container"></div>
            <div class="results-container"></div>
          </div>
        </div>
        <div class="settings">
          <div class="results-container-mobile"></div>
          <div class="settings-scroller">
            <section class="global">
              <h1 class="settings-sub-heading">Global settings</h1>
              <label class="setting-item-toggle">
                <input type="checkbox" name="original">
                {% include "_partials/material-switch.html" %}
                Show original
              </label>
              <label class="setting-item-toggle">
                <input type="checkbox" name="gzip" checked>
                {% include "_partials/material-switch.html" %}
                Compare gzipped
              </label>
              <label class="setting-item-toggle">
                <input type="checkbox" name="pretty">
                {% include "_partials/material-switch.html" %}
                Prettify markup
              </label>
              <!--
              <label class="setting-item-toggle">
                <input type="checkbox" name="multipass">
                {% include "_partials/material-switch.html" %}
                Multipass
              </label>
              -->
              <label class="setting-item-range">
                <span class="label-text">Number precision</span>
                <input type="range" min="0" max="8" step="1" value="3" name="floatPrecision">
              </label>
              <label class="setting-item-range">
                <span class="label-text">Transform precision</span>
                <input type="range" min="0" max="8" step="1" value="5" name="transformPrecision">
              </label>
            </section>
            <section class="jobs">
              <h1 class="settings-sub-heading">Features</h1>
              {% for job in jobs %}
                {% if not job.disabled %}
                  <label class="setting-item-toggle">
                    <input type="checkbox"
                           name="{{ job.id }}"
                           {% if job.enabledByDefault %}checked{% endif %}>
                    {% include "_partials/material-switch.html" %}
                    {{ job.name }}
                  </label>
                {% endif %}
              {% endfor %}
            </section>
            <div class="setting-reset-row">
              <button class="unbutton setting-reset" type="button">Reset all</button>
            </div>
          </div>
        </div>
      </div>
      <div class="preloader">
        <div class="spinner">
          <div class="spinner-container">
            <div class="spinner-layer">
              <!-- Whitespace here would break the spinner -->
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
        <p>Sorry, wasn't ready…</p>
      </div>
      <script>
        document.querySelector('.preloader').addEventListener('click', function() {
          this.classList.add('active');
        });
      </script>
    </div>
  </body>
</html>
